<div class="container">
    <div class="block"></div>

    <div class="row center-align">

      <div class="col s6 push-s6">
        <span class="flow-text">
          <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/rCryptoReddit?ref_src=twsrc%5Etfw">Tweets by rCryptoBot</a>
        </span>
      </div>

      <div class="col s6 pull-s6">
        <span class="flow-text">
          <img src="/redtwit.png" alt="" class="circle" width=300 height=200><br>
          Home page for the r/CryptoCurrency twitter bot... <a href="https://twitter.com/rCryptoReddit">@rCryptoReddit</a>
          <br><br>

          Built by <a href="https://mstov.dev" target="_blank">Russell Mstowski</a>
        </span>
      </div>
    </div>
</div>