<div class="container">
    <div class="block"></div>

    <div class="row center-align">
      <div class="col s7 push-s5"><span class="flow-text">
        Home page for the r/CryptoCurrency twitter bot...
        <br><br>
        Built by <a href="https://russell-mstowski.github.io" target="_blank">Russell Mstowski</a>
      </span></div>
      <div class="col s5 pull-s7"><span class="flow-text">
        <img src="/redtwit.png" alt="" class="circle" width=300 height=200>
      </span></div>
    </div>

    <div class="block"></div>
    <p class="rights">© 2017 - Russell Mstowski All rights reserved.</p>

</div>
