// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block{
  height: 50px;
}

.rights {
  text-align: center;
  bottom: 0;
}